PERSPECTIVA DESDE EL USUARIO

1. Ver el index
2. Nav: Cotización, Envio, Rastreo, Log out
    Cotización
        -RATES AND TRANSIT TIMES API
        -
    Envío
        -
	

	

APIS PARA ADMINSTRACIÓN
    1. FREIGHT LTL API
    2. GLOBAL TRADE API (???????)
    3. GROUND END OF DAY CLOSE API
    4. OPEN SHIP API
    5. TRADE DOCUMENTS UPLOAD API


APIS PARA USUARIO
    1. PICKUP REQUEST API
    2. POSTAL CODE VALIDATION API
    3. RATES AND TRANSIT TIMES API
    4. SERVICE AVAILABILITY API
    5. SHIP API
    6.TRACK API
    7. 