:root {
  /* COLOR BRAND */
  --azul-primario: rgba(54, 55, 149, 1);
  --azul-secundario: rgba(54, 55, 149, 0.4);
  --azul-terciario: rgba(54, 55, 149, 0.2);
  --amarillo: rgb(251, 176, 64);
  --negro: rgb(35, 31 , 32);
  --blanco: rgb(255, 255, 255);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  padding: 0;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

img,
picture {
  width: 100%;
  display: block;
}

h1, h2, h3 {
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

header .navegacion-principal a {
  margin-left: 2rem;
  font-weight: 700;
  color: var(--negro);
}

header .navegacion-principal a:hover{
  color: var(--azul-primario);
}


header .logo {
  max-width: 20rem;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer{
  position: relative;
  width: 100%;
  bottom: 0;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--blanco);
  background-color: var(--azul-primario);
}

.footer .contenedor{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10rem;
  align-items: center;
}

.footer .flecha-contenedor{
  height: 30px;
  width: 30px;
  background-color: var(--blanco);
  font-size: 30px;
}

.footer .flecha-formato p{
  color: var(--negro);
  text-align: center;
  font-size: 30px;
  max-height: 30px;
  margin: 0;
  line-height: 2.5rem;
}

.contenedor-baseline{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.promociones {
  width: 50vw;
}

.linea-amarilla{
  background-color: var(--amarillo);
  width: 40rem;
  height: 0.2rem;
}

.logo-conteiner{
  width: 38px;
  height: 38px;
}
.logo-conteiner-2{
  width: 44px;
  height: 38px;
}

.no-margin{
  margin: 0;
  padding: 0;
}