.primer-cont{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.contenedor{
    width: 500px;
    height: 350px;
    padding: 3rem;
    display: grid;
    justify-content: center;
    background: rgba(54,55,149,0.2);
    background: radial-gradient(ellipse farthest-side at bottom right, rgba(54,55,149,0.2) 80%, rgba(54,55,149,0.4) 90%);
    border: var(--azul-secundario) solid 3px;
    border-radius: 20px;
}

.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.estilo-titulo{
    line-height: 0;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--blanco);
}

.cont-form{
    display: flex;
    gap: 1rem;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.formato-entrada{
    height: 50px;
    width: 300px;
    text-transform: uppercase;
    color: var(--negro);
    font-weight: bolder;
}

.cont-botones{
    width: 450px;
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    justify-content: space-around;
}

.texto-botones{
    color: var(--blanco);
    background-color: var(--azul-terciario);
    border: none;
    padding: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
}

.texto-botones:hover{
    background-color: var(--azul-secundario);
    padding: 0.75rem;
    font-size: 20px;
}
