.primer-cont{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.contenedor{
    width: 500px;
    height: 550px;
    padding: 3rem;
    display: grid;
    justify-content: center;
    background: rgba(54,55,149,0.2);
    background: radial-gradient(ellipse farthest-side at bottom right, rgba(54,55,149,0.2) 80%, rgba(54,55,149,0.4) 90%);
    border: var(--azul-secundario) solid 3px;
    border-radius: 20px;
}

.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.estilo-titulo{
    line-height: 0;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--blanco);
}

.cont-nombre{
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cont-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.formato-entrada-nombre{
    height: 35px;
    width: 150px;
    padding: 1rem;
    border-radius: 20px;
    color: var(--negro);
    font-weight: bolder;
    border-color: var(--azul-secundario);

}

.formato-entrada{
    height: 35px;
    width: 350px;
    padding: 1rem;
    border-radius: 20px;
    color: var(--negro);
    font-weight: bolder;
    border-color: var(--azul-secundario);
}

.cont-botones{
    background-color: var(--azul-primario);
    color: var(--blanco);
    margin-top: 2rem;
    padding: 1rem 3.5rem 1rem 3.5rem;
    border-radius: 20px;
    text-transform: uppercase;
    border: none;
}

.estilo-check{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.contenedor-check{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.center{
    display: grid;
    align-items: center;
}

/*.texto-botones{
    color: var(--blanco);
    background-color: var(--azul-terciario);
    border: none;
    padding: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
}

.texto-botones:hover{
    background-color: var(--azul-secundario);
    padding: 0.75rem;
    font-size: 20px;
} */
